<%= form_for @activity, url: create_timer_path, method: 'post' do |f| %>

  <%= render "shared/form_errors", model: @activity %>

  <div class="form-inline">
  	<%= f.text_field :name, placeholder: 'What are you working on?', class: 'form-control' %>
  </div>
  <br>
  <ul class="list-inline">
    <li><%= f.submit "Go", class: 'btn btn-primary' %></li>
    <li><%= link_to 'Back', :activities, class: 'btn btn-danger' %></li>
  </ul>
<% end %>
