<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title><%= yield(:title) %> | Track Time</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if logged_in? %>
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"><%= current_user.nickname %><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><a tabindex="-1" href="#">Recent Activity</a></li>
                  <li class="divider"></li>
                  <li><a tabindex="-1" href="#"><%= link_to "Sign out", :sign_out %></a></li>
                </ul>
              </li>
            <% else %>
              <li role="presentation"><%= link_to 'Sign in with Twitter', '/auth/twitter' %></li>
            <% end %>
          </ul>
        </nav>
        <h3 class="text-muted"><%= link_to 'Track Time', :root %></h3>
      </div>
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

      <footer>
        <p style="text-align: center">&copy; Angela <%= Time.now.year %></p>
      </footer>
    </div>
  </body>
</html>
